* {
  box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    
    background-color: black;
}

li{
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
}
li a{
    text-decoration: white;
    color: white;
    padding: 10px;
}
li a:hover{
    background-color: white;
    color: black;
}
.home{
    margin-left: 700px;
}
img{
    height: 700px;
    width: 100%;
}
.a{
    display: inline-flex;
}
.p{
    display: block;
    position: absolute;
    margin-top: 30px;
}
.ab{
    margin-right: 900px;
}
.sidepic{
    width: 40%;
    float: left;
    height: 400px;
    margin-right: 100px;
    margin-left: 50px;
}

@media only screen and (max-width:1250px){
    .home{
        margin-left: 600px;
    }
    img{
        height: 750px;
    }
    .p{
        margin-top: 50px;
    }
    .ab{
        margin-right: 800px;
    }
    .sidepic{
        width: 40%;
        height: 400px;
        margin-left: 50px;
        margin-right: 100px;
    }
}

@media only screen and (max-width:1100px){
    .home{
        margin-left: 400px;
    }
    img{
        height: 600px;
    }
    .p{
        margin-top: 50px;
    }
    .ab{
        margin-right: 600px;
    }
    .sidepic{
        width: 100%;
        height: 400px;
        margin: 0;
    }
}

@media only screen and (max-width:900px){
    .home{
        margin-left: 200px;
    }
    img{
        height: 500px;
    }
    .p{
        margin-top: 50px;
    }
    .ab{
        margin-right: 400px;
    }
    .sidepic{
        width: 100%;
        height: 400px;
        margin: 0;
    }
}
@media only screen and (max-width:800px){
    .home{
        margin-left: 70px;
    }
    img{
        height: 500px;
    }
    .p{
        margin-top: 50px;
    }
    .ab{
        margin-right: 150px;
    }
    .sidepic{
        width: 100%;
        height: 400px;
        margin: 0;
    }
}
@media only screen and (max-width:600px){
    .home{
        margin:0;
    }
    img{
        height: 300px;
    }
    .p{
        margin-top: 30px;
    }
    .ab{
        margin-right: 100px;
    }
    .sidepic{
        width: 100%;
        height: 250px;
        margin: 0;
    }
}

